*{
  box-sizing: border-box; 
}

a:hover , a:focus {
  text-decoration: none;
}

header {
  background-color: #bfbfbf;
  height: 125px;
}

#header-nav {
  padding-left: 50px;
  padding-bottom: 10px;
  border: 3px solid black;
  height: 125px;
    background-color: #bfbfbf;
}

h1 {
  font-family: 'Tangerine', serif;
  font-size: 40px;
  text-shadow: 4px 4px 4px #aaa;
  color: black;
}

@media (min-width: 360px) , (max-width: 575px) {
.navbar-brand .embossed {
    font-size: 50px;
    padding: 0;
    margin-left: -50px;
    }
}

.embossed {
  color: #404040;
  font-size: 80px;
  background-color: #666666;
  text-shadow: 1px 4px 4px #555;
  text-align: center;
  -webkit-background-clip: text;
    -moz-background-clip: text;
}

#main-content {
  width: 100%;
  margin-top: 25px;
}

h2 {
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}

.text-center {
  margin-top: 0px;
  margin-bottom: 25px;
}

.category-tile {
  width: 100%;
  margin-bottom: 25px;
  padding: 5px;
  background-color: #bfbfbf;
  color: black;
  font-family: 'Oxygen', sans-serif;
  box-shadow: 0px 0px 3px 3px black;
}

h3 {
  text-align: center;
  font-weight: bold;
}

#tile-p {
  padding: 5px;
}

#embossed-li {
  color: #404040;
  font-size: 20px;
  background-color: #666666;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
  -webkit-background-clip: text;
    -moz-background-clip: text;
}